<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UseExternalPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F7ECB451C8A71EF001C23AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7ECB5E1C8A71EF001C23AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7ECB691C8A71EF001C23AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
